/* Default styles */
.sidebar {
    background: linear-gradient(135deg, #2c3e50, #34495e);
    height: 100vh; /* Full height of the viewport */
    width: 230px; /* Set a fixed width */
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; /* Ensure it's above other content */
    overflow-y: auto; /* Allow vertical scrolling if needed */
    transition: width 0.5s; /* Smooth transition for width changes */
}

.sidebar .sidebar-link {
    position: relative;
    display: flex;
    align-items: center;
    padding: 15px;
    font-size: 18px;
    text-decoration: none;
    color: white;
    transition: background-color 0.5s; /* Smooth background color transition */
}

.sidebar .sidebar-link.menu {
    pointer-events: none; /* Prevent hover effects on 'Menu' button */
}

.sidebar .sidebar-link .fas {
    font-size: 24px;
    margin-right: 10px;
}

.sidebar .sidebar-link:hover {
    background-color: rgb(30, 84, 92); /* Hover effect for all except 'Menu' */
}

/* Responsive styles */
@media (max-width: 768px) {
    .sidebar {
        width: 25%; /* Full width on smaller screens */
    }
}
