
        <app-navbar></app-navbar>
    <!-- Main Content -->
    <div class="content">
        <h2>Parcel Details</h2>
        <form  [formGroup]="userForm" (submit)="onSubmit()">
            <div class="row" style="column-gap: 25px;">
                <div class="col-md-6 sender-container">
                    <h3>Sender's Info</h3>
                    <div class="form-group">
                        <label class="form-label">Name</label>
                        <input type="text" class="form-control" placeholder="Sender's Name"  formControlName="sender_name">
                    </div>
                    <div class="form-group">
                        <label class="form-label">Address</label>
                        <textarea class="form-control" rows="4" placeholder="Sender's Address" formControlName="sender_address"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Pincode</label>
                        <input type="text" pattern="[0-9]{6}" class="form-control" maxlength="6" placeholder="685543" formControlName="pincode_sender">
                    </div>
                    <div class="form-group">
                        <label class="form-label">Email</label>
                        <input type="email" class="form-control" placeholder="abc123@gmail.com"  formControlName="sender_email">
                    </div>
                    <div class="form-group">
                        <label class="form-label">Contact No</label>
                        <input type="tel" class="form-control" placeholder="9563454576">
                    </div>
                </div>
                <div class="col-md-6 receiver-container">
                    <h3>Receiver's Info</h3>
                    <div class="form-group">
                        <label class="form-label">Name</label>
                        <input type="text" class="form-control" placeholder="Receiver's Name" formControlName="receiver_name">
                    </div>
                    <div class="form-group">
                        <label class="form-label">Address</label>
                        <textarea class="form-control" rows="4" placeholder="Receiver's Address" formControlName="receiver_address"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Pincode</label>
                        <input type="text" pattern="[0-9]{6}" class="form-control" maxlength="6" placeholder="685543" formControlName="pincode_receiver">
                    </div>
                    <div class="form-group">
                        <label class="form-label">Email</label>
                        <input type="email" class="form-control" placeholder="abc123@gmail.com" formControlName="receiver_email">
                    </div>
                    <div class="form-group">
                        <label class="form-label">Contact No</label>
                        <input type="tel" class="form-control" placeholder="9563454576">
                    </div>
                </div>
            </div>
            <button class="btn btn-primary" (click)="openModel()" type="submit" (click)="toggleField()">Save And Pay </button>
        </form>
    </div>
    <div class="modal" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">
      
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Your Order is successful</h4>
              <button type="button" class="btn-close"  (click)="CloseModel()" data-bs-dismiss="modal"></button>
            </div>
      
            <!-- Modal body -->
            <div class="modal-body">
              your order id is{{orderId}}
            </div>
      
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" (click)="CloseModel()" data-bs-dismiss="modal">Close</button>
            </div>
      
          </div>
        </div>
      </div>

