<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Services</title>
 
</head>
<body>
    <div class="container">
        <h1>Our Services</h1>
        <div class="card-container">
            <!-- Card 1 -->
            <div class="card">
                <img src="../../assets/warehousing.jpeg" alt="Service 1">
                <div class="card-content">
                    <h2>Warehousing</h2>
                    <p>ExpressD’s network of fulfillment centers (warehouses) are powered by our proprietary software and optimally integrated with our shipping network giving you the flexibility to optimize your storage cost versus speed to delivery.</p>
                </div>
            </div>
            <!-- Card 2 -->
            <div class="card">
                <img src="../../assets/images.jpeg" alt="Service 2">
                <div class="card-content">
                    <h2>Fast Delivery</h2>
                    <p>ExpressD’s infrastructure and technology power our Express parcel service that caters to eCommerce marketplaces, D2C brands, omnichannel retailers, small and medium industries, large enterprises, and consumers.</p>
                </div>
            </div>
            <!-- Card 3 -->
            <div class="card">
                <img src="../../assets/Untitled.jpeg" alt="Service 3">
                <div class="card-content">
                    <h2>Door to Door Delivery</h2>
                    <p>ExpressD specializes in providing door-to-door delivery solutions. Our door-to-door services ensure that packages are picked up from the sender's location and delivered directly to the recipient's doorstep, offering convenience and peace of mind to our customers.</p>
                </div>
            </div>
            <!-- Card 4 -->
            <div class="card">
                <img src="../../assets/tracking.jpeg" alt="Service 4">
                <div class="card-content">
                    <h2>Tracking</h2>
                    <p>ExpressD is a courier service company that offers tracking of shipments to its customers. With ExpressD's tracking service, customers can easily monitor the progress of their shipments from pickup to delivery.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>