<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ExpressD</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
   
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>
<body>
    <div data-bs-spy="scroll" data-bs-target="#navbar-example2" tabindex="0">

        <!-- Navigation Section Starts -->
        <section id="navigation-bar" style="margin-bottom: 0;" class="navigation position-absolute">

            <nav id="navbar-example2" class="navbar navbar-expand-lg">

                <div class="navigation container-fluid d-flex flex-wrap align-items-center my-8 pe-4 ps-5 ">

                    <div class="col-md-3 brand-logo">
                        <img src="../../assets/truck-Photoroom.png-Photoroom.png" alt="" style="width: 50px;color: #fff;">
                    </div>

                    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2"
                        aria-controls="offcanvasNavbar2" aria-label="Toggle navigation"><i class="fas fa-bars"></i></button>

                    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar2"
                        aria-labelledby="offcanvasNavbar2Label">

                        <div class="offcanvas-header">
                            <h5 class="offcanvas-title" id="offcanvasNavbar2Label">Menu</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>

                        <div class="offcanvas-body">
                            <ul class="navbar-nav align-items-center flex-grow-1">
                                <li class="nav-list mx-3">
                                    <a routerLink="/home" class="nav-link px-2">
                                        <h5> Home </h5>
                                    </a>
                                </li>
                                <li class="nav-list mx-3">
                                    <a routerLink="/about" class="nav-link px-2">
                                        <h5> About </h5>
                                    </a>
                                </li>
                                <li class="nav-list mx-3">
                                  <a routerLink="/services" class="nav-link px-2">
                                      <h5>Services </h5>
                                  </a>
                              </li>
                                <li class="nav-list mx-3">
                                    <a routerLink="/login" class="nav-link px-2">
                                        <h5>Login</h5>
                                    </a>
                                </li> 
                                <li class="nav-list mx-3">
                                    <a routerLink="/contact" class="nav-link px-2">
                                        <h5> Contact </h5>
                                    </a>
                                </li>
                                <li class="nav-list mx-3" style="background-color: lightskyblue;border-radius: 5px;">
                                    <a class="link nav-link px-2" href="#action" style="font-weight: bold; color: white;">
                                        <h4>Ship now</h4>
                                    </a>
                                </li>
                                
                              <!-- <li class="nav-list mx-3 dropdown text-center">
                                    <a class="nav-link px-2 dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                                        aria-expanded="false">
                                        Pages <i class="fas fa-caret-down"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="styles.html" class="dropdown-item text-uppercase ">Styles <span
                                                    class="badge bg-secondary">Pro</span></a></li>
                                    </ul>
                                </li>-->
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </section>
        
        <section id="hero" style="margin-top: 0!important;">
            <div class="hero container py-3 my-3">
                <div class="row flex-lg-row-reverse align-items-center g-5 mt-2 py-5">
                    <div class="col-10 col-sm-8 col-lg-6 py-md-5 my-md-5">
                        <img src="../../assets/pngtree-cartoon-blue-delivery-service-elements-png-image_2382271-Photoroom.png-Photoroom.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" style="width: 700px;height: 500px;margin-top:0;"
                          loading="lazy">
                    </div>

                    <div class="col-lg-6 py-md-5 my-md-5 hero-content">
                            <h1 class="lh-1 mb-3">ExpressD</h1>
                            <h2 class="lh-1 mb-1 highlight">Reliable Logistics</h2>
                            <h2 class="lh-1 mb-1 highlight">Seamless Solutions</h2>
                            <ul>
                                <li class="my-2"><i class="fas fa-check-circle" style="color: #00ced1;"></i> Easy booking</li>
                                <li class="my-2"><i class="fas fa-check-circle" style="color: #00ced1;"></i> Doorstep delivery</li>
                                <li class="my-2"><i class="fas fa-check-circle" style="color: #00ced1;"></i> Customer Support</li>
                            </ul>
                        
                    </div>
                </div>
            </div>
        </section>
        

        <!-- Action Section Starts -->
       <section id="action">
    <div id="contact" class="container py-5 my-5">
        <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
            <div class="col-md-5 action-column1">
                <div class="row flex-column py-1 px-5" style="background-color: #f2f2f2; border-radius: 10px;">
                    <div class="ms-3 mb-5 mt-5">
                        <h1 class="mt-2"><i class="fas fa-users me-2" style="font-size: 50px;"></i>2043</h1>
                        <h5>Active Customers</h5>
                    </div>
                    <div class="ms-3 mb-5">
                        <h1><i class="fas fa-shipping-fast me-2" style="font-size: 50px;"></i>3298</h1>
                        <h5>Monthly Shipments</h5>
                    </div>
                    <div class="ms-3 mb-5">
                        <h1><i class="fas fa-stopwatch me-2"  style="font-size: 50px;"></i>5 min</h1>
                        <h5 class="mb-2">To Book A Shipment</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-7 action-column2 d-flex flex-column align-items-center py-7 px-7"
                style="background-color:#00ced1; border-radius: 10px;">
                <h1 class="action-heading text-center mt-5 py-2 px-5" style="color: #fff;font-weight: 600;">Ready to book your shipment?</h1>
                <p class="action-paragraph text-center my-5 px-5" style="color: #fff;">Create an account to book. It only takes a few steps!</p>
                <a routerLink="/login">
                    <button type="button" class="btn btn-primary first-button action-button  my-5"
                        style="font-size: 20px;border-radius: 4px;background-color: white;font-weight: 600;color: #00ced1;">
                        <i class="fas fa-user-plus me-2"></i> Register now
                    </button>
                </a>
            </div>
        </div>
    </div>
</section>
    


        <!-- Footer Section Starts -->
        <footer id="footer" class="text-center">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h4>Follow Us</h4>
                        <div class="social-icons">
                            <a href="#" class="text-decoration-none me-3"><i class="fab fa-facebook-f"></i></a>
                            <a href="#" class="text-decoration-none me-3"><i class="fab fa-twitter"></i></a>
                            <a href="#" class="text-decoration-none me-3"><i class="fab fa-instagram"></i></a>
                            <a href="#" class="text-decoration-none me-3"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col">
                        <p>&copy; 2024 ExpressD. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </footer>

    </div>
</body>
</html>