
:root {
  --accent-color: #ebfdff;
  --secondary-color: #3ac5ce;
  --dark-color: #083c3e;
  --grey-color: #f8f8f8;
  --body-text-color: #083c3e;
  --light-text-color: #7c7c7c;
  --link-color: #ffffff;
}
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 450;
  font-size: 16px;
  line-height: 36px;
  background-color: #f2f2f2;
}

h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6 {
  font-family: 'Playfair Display', serif;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Light text shadow */
  color: var(--body-text-color);
  letter-spacing: 0.04em;
}

h1,.h1 {
  font-size: 70px;
}

h3,.h3 {
  font-size: 24px;
}

h4,.h4 {
  font-size: 22px;
}

h5,.h5 {
  margin-bottom: 0px;
}
p {
  font-family: "Roboto";
  color: var(--light-text-color);
  font-size: 16px;
  line-height: 30px;
}

a {
  color: var(--body-text-color);
  text-decoration: none;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

a:hover {
  color: var(--secondary-color);
  text-decoration: none;
}

.btn.btn-primary {
  border-radius: 60px;
  --bs-btn-color: var(--accent-color);
  --bs-btn-bg: var(--body-text-color);
  --bs-btn-border-color: var(--body-text-color);
  --bs-btn-hover-color: var(--accent-color);
  --bs-btn-hover-bg: var(--secondary-color);
  --bs-btn-hover-border-color: var(--secondary-color);
}

.btn.btn-primary.first-button {
  font-size: 19px;
  padding: 20px 60px;
  transition: all 0.3s ease-in;
}

.btn.btn-outline-primary {
  border-radius: 35px;
  --bs-btn-color: var(--secondary-color);
  --bs-btn-border-color: var(--secondary-color);
  --bs-btn-hover-color: var(--accent-color);
  --bs-btn-hover-bg: var(--secondary-color);
  --bs-btn-hover-border-color: var(--secondary-color);
}

.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
  color: var(--link-color);
  background-color: var(--dark-color);
  border-color: var(--dark-color);
}

.btn.btn-outline-primary.second-button {
  font-size: 19px;
  padding: 20px 50px;
  transition: all 0.3s ease-in;
}

@media only screen and (max-width: 768px) {

  h1,.h1 {
    font-size: 50px;
  }
}

/* Navigation bar */
section#navigation-bar {
width: 100%;
top: 0;
z-index: 1000;
background: linear-gradient(to right, #3b5998, #4a69bd); /* Gradient blue shade */
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transition */
}

.nav-link {
color: #fff;
position: relative;
transition: color 0.5s; /* Smooth color transition */
padding: 10px 25px; /* Add padding for spacing */
margin-right: 20px; /* Add margin between each navbar link */
}

.nav-link::after {
content: "";
position: absolute;
width: 0;
height: 3px;
bottom: -2px;
left: 0;
background-color: transparent;
transition: width 0.3s, left 0.3s; /* Smooth transition for underline */
}

.nav-link:hover,
.nav-link.active {
color: #f8f9fa; 
}

.nav-link:hover::after,
.nav-link.active::after {
background-color: #fff; 
width: auto; 
left: 0; /* Align to the left */
right: 0; 
transition: left 0.3s, right 0.3s; 
}

.nav-link:focus::after {
background-color: #fff; 
width: auto; 
left: 0; 
right: 0; 
transition: left 0.3s, right 0.3s; 
}

/* Footer Section */
#footer {
  background-color: #00ced1;
  color: #fff;
  padding: 10px 0;
}
.social-icons a {
  color: #fff;
  border-radius: 5px;
  font-size: 2rem;
  margin-right: 15px;
  transition: color 0.3s ease;
}
.social-icons a:hover {
  color: #f8f9fa;
}
#footer p {
  margin-bottom: 0;
  font-size: 20px;
  margin-top: 20px;
}
/* dropdown  */
.dropdown-toggle::after {
  border: none;
  margin-left: 0em;
  vertical-align: 0em;
}
.dropdown-item.active,.dropdown-item:active {
  color: var(--body-text-color);
  text-decoration: none;
  background-color: var(--grey-color);
}

/* form-control  */
.form-control:focus {
  border-color: var(--light-text-color);
  box-shadow: none;
  color: var(--body-text-color);
}
@media only screen and (max-width: 768px) {
  .nav {
    display: grid;
  }
}
/* Add this CSS to style the hero section */
#hero {
background-color: #f2f2f2;
margin-top: 0;
}
.hero-content h1 {
font-weight: bold;
font-size: 100px;
padding-bottom: 30px;
}
.hero-content h2 {
font-size: 50px;
}
.hero-content h1,.hero-content h2{
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
color: #555;
}

.hero-content ul {
list-style: none;
}

.hero-content li {
font-size: 24px;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
color: #777;

}
.highlight {
font-weight: bold;
color: #00ced1;
}

@media (min-width: 992px) {
.hero-content {
    text-align: left;
}
}
/* service section  */

.service-post {
  background: var(--grey-color);
}

.service-post:hover {
  background: var(--accent-color);
}

/* action section  */
.action-column1 {
  background: var(--grey-color);
}
.action-column2 {
  background: var(--secondary-color);
}
h1.action-heading {
  color: var(--accent-color);
}
p.action-paragraph {
  color: var(--accent-color);
  font-size: 30px;
}
button.btn.btn-primary.first-button.action-button {
  --bs-btn-color: var(--secondary-color);
  --bs-btn-bg: var(--accent-color);
  --bs-btn-border-color: var(--accent-color);
  --bs-btn-hover-color: var(--accent-color);
  --bs-btn-hover-bg: var(--secondary-color);
  --bs-btn-hover-border-color: var(--accent-color);
}
@media only screen and (max-width: 768px) {
  .footer-2-container {
    display: block !important;
  }
}
.list-styled {
  list-style: none;
  padding-left: 0;
}
.list-styled li {
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
  font-family: Arial, sans-serif;
  font-size: 18px;
  line-height: 1.6;
}
.list-styled li:before {
  content: '\2022'; /* Bullet point */
  position: absolute;
  color: blue;
}